.home {
  .hero {
    padding: 10rem 2.4rem;
    background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $border-radius-m;
    min-height: 50rem;
    margin-bottom: 12rem;

    @include size(tablet) {
      background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
      padding: 10.4rem 5.8rem;
      margin-bottom: 20.3rem;
    }

    @include size(desktop) {
      background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
      padding: 11.7rem 8.5rem;
      margin-bottom: 26.2rem;
    }

    &__title {
      font-family: $font-fraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 4rem;
      line-height: 4rem;
      color: $light-cream;
      margin-bottom: 2.4rem;

      @include size(tablet) {
        font-size: 4.8rem;
        line-height: 4.8rem;
      }

      @include size(desktop) {
        margin-bottom: 3.6rem;
        font-size: 7.2rem;
        line-height: 7.2rem;
      }
    }

    &__info {
      font-family: $font-barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 3.9rem;
      color: $light-cream;
      opacity: 0.8;

      @include size(desktop) {
        margin-bottom: 5.6rem;
        max-width: 36.8rem;
      }
    }

    &__container {
      text-align: center;
      @include size(tablet) {
        max-width: 36.8rem;
        text-align: left;
      }

      @include size(desktop) {
        max-width: 50rem;
      }
    }
  }

  .showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-grey-blue;
    text-align: center;
    position: relative;

    @include size(tablet) {
      text-align: left;
    }

    @include size(desktop) {
      text-align: center;
      flex-direction: row;
      gap: 3rem;
    }

    &__container {
      @include size(tablet) {
        display: flex;
      }

      @include size(desktop) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__img {
      height: 15.1rem;
      margin-bottom: 2.4rem;

      @include size(tablet) {
        height: 19.3rem;
        width: 25.5rem;
      }
      @include size(desktop) {
        margin-bottom: 7.2rem;
      }
    }

    &__text_container {
      max-width: 29.4rem;
      @include size(tablet) {
        margin-left: 3.5rem;
      }

      @include size(desktop) {
        margin: 0;
        max-width: 24rem;
      }
    }

    &__name {
      font-family: $font-fraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-bottom: 1.6rem;

      @include size(tablet) {
        margin-bottom: 2.4rem;
        margin-top: 1.5rem;
      }
    }

    &__description {
      font-family: $font-barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 4.8rem;
    }
    &__header {
      font-family: $font-fraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 4rem;
      line-height: 7.2rem;
      color: $grey;
      margin-bottom: 1.3rem;

      @include size(tablet) {
        font-weight: 900;
        font-size: 9.6rem;
        line-height: 7.2rem;
      }

      @include size(desktop) {
        font-weight: 900;
        font-size: 15rem;
        line-height: 8.8rem;
      }

      &_container {
        position: relative;

        @include size(tablet) {
          position: absolute;
          top: -4.8rem;
          z-index: -2;
        }

        @include size(desktop) {
          position: absolute;
          top: -6.2rem;
          z-index: -2;
        }
      }

      &_overlay {
        background: linear-gradient(
          180deg,
          rgba(254, 252, 247, 0.0001) 0%,
          #fefcf7 100%
        );
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
      }
    }
  }

  .cards {
    position: relative;
    padding: 6.4rem 2.4rem;

    @include size(tablet) {
      padding: 5.7rem;
    }

    color: #fefcf7;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 90.2rem;
      border-radius: 0.625rem;
      background-color: $dark-grey-blue;
      z-index: -1;

      @include size(tablet) {
        height: 57.3rem;
      }
    }

    &__header {
      text-align: center;
      font-family: Fraunces 9pt;
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 28px;
      margin-bottom: 2.4rem;

      @include size(tablet) {
        color: #fefcf7;
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        line-height: 48px;
      }
    }

    &__info {
      text-align: center;
      font-family: Barlow;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      opacity: 0.8;
      margin-bottom: 6.4rem;

      @include size(tablet) {
        margin-bottom: 7rem;
        padding: 0 5.3rem;
      }
    }

    .card {
      background-color: $dark-cyan;
      margin-bottom: 2.4rem;
      text-align: center;
      padding: 7.2rem 3.4rem 5.1rem 3.4rem;
      border-radius: $border-radius-sm;
      height: 38.2rem;

      @include size(tablet) {
        display: flex;
        height: 18rem;
        padding: 4.1rem 4.8rem 4.1rem 7rem;
        text-align: left;
        align-items: center;
      }

      &__img {
        margin-bottom: 5.6rem;
        @include size(tablet) {
          width: 5.6rem;
          height: 5.6rem;
          margin: 0;
          margin-right: 5.5rem;
        }

        &--truck {
          @include size(tablet) {
            height: 3.9rem;
          }
        }
      }

      &__header {
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 2.4rem;
        @include size(tablet) {
          margin-bottom: 1.6rem;
        }
      }
      &__description {
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}
