.button {
  background-color: $dark-cyan;
  font-family: $font-fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  color: $light-cream;
  border-radius: $border-radius-s;
  display: inline-block;
  padding: 1.5rem 3.1rem;
}
