.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;
    padding-bottom: 4rem;

    @include size(tablet) {
      padding-top: 4rem;
      padding-bottom: 5.3rem;
    }
    @include size(desktop) {
      padding-top: 4.4rem;
      padding-bottom: 4.4rem;
    }
  }

  &__links {
    display: flex;
    gap: 3.3rem;
    a {
      font-family: $font-barlow;
      color: $grey;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;

      letter-spacing: 0.923077px;
      text-transform: uppercase;
    }
  }
  &__logo {
    width: 16.8rem;
    @include size(tablet) {
      width: 23.6rem;
    }
  }

  &__menu {
    font-family: $font-fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 3.2rem;

    a {
      text-align: center;
      width: 100%;
      color: $dark-grey-blue;
    }
  }

  .overlay {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 9rem);
    display: none;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0.504981) 0%,
      #fefcf7 55.94%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .btn__close {
    display: none;
  }

  .btnHamubrger {
    cursor: pointer;
  }

  &.open {
    .btn__hamburger {
      display: none;
    }
    .btn__close {
      display: block;
    }

    .header__menu {
      display: flex;
    }
    .overlay {
      display: flex;
    }
  }
}
