.container {
  max-width: 32.7rem;
  margin: 0 auto;

  @include size(tablet) {
    max-width: 68.8rem;
  }

  @include size(desktop) {
    max-width: 128rem;
  }
}

.hide-for-mobile {
  @media screen and (max-width: $tablet) {
    display: none !important;
  }
}

.hide-for-tablet {
  @include size(tablet) {
    display: none !important;
  }
}

.no-scroll {
  overflow: hidden;
}
