$dark-grey-blue: #2c343e;
$grey: #83888f;
$light-cream: #fefcf7;
$dark-cyan: #0e8784;

$font-barlow: "Barlow", sans-serif;
$font-fraunces: "Fraunces", serif;

$tablet: 768px;
$desktop: 1280px;

$border-radius-s: 0.6rem;
$border-radius-sm: 0.8rem;
$border-radius-m: 1rem;
